# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  name: Doc Build Agents

steps:
- task: CmdLine@1
  inputs:
    filename: 'C:\Program Files\MadCap Software\MadCap Flare 18\Flare.app\Madbuild.exe'
    arguments: '-project Laserfiche" "Cloud.flprj -target SideNav'
    workingFolder: '$(Build.SourcesDirectory)\'
    failOnStandardError: true
- task: CopyFiles@2
  inputs:
    SourceFolder: '$(Build.SourcesDirectory)\Output\SideNav'
    Contents: '**'
    TargetFolder: '\\laserfiche.com\fileserver\buildserver\builds\Documentation\Cloud\LFCloudProductDocumentation'
    OverWrite: true