/*<meta />*/

@import url('prism.css');

a.option-listitem
{
	margin: 0px;
	color: #0000ff;
	font-family: Tahoma;
	text-decoration: none;
}

a.option-listitem:hover
{
	border-right: medium none;
	border-top: medium none;
	border-left: medium none;
	border-bottom: medium none;
	text-decoration: underline;
}

a.page-jump
{
	color: #0000ff;
	text-decoration: none;
}

a.page-jump-disabled
{
	cursor: default;
	color: #808080;
	text-decoration: underline;
}

a.popup-heading
{
	color: #0000ff;
	text-decoration: none;
}

a.popup-heading:hover
{
	text-decoration: underline;
}

a.showhide
{
	color: #0000ff;
	text-decoration: none;
}

a.showhide:hover
{
	text-decoration: underline;
}

MadCap|breadcrumbsProxy
{
	color: #666666;
	margin-bottom: 25px;
	border-bottom-color: #ccc;
	mc-breadcrumbs-prefix: Skin / Formats / BreadcrumbsYouAreHereText(You are here: );
}

.MCBreadcrumbsLink
{
	color: #888;
}

.MCBreadcrumbsLink:hover
{
	color: #555;
}

body
{
	width: 850px;
	color: #555555;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 10px;
	font-size: 10pt;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 19px;
}

div.showhideitem
{
	margin-left: 14px;
	margin-bottom: 15px;
}

div.showhidepicture
{
	background-color: #FCFCEE;
	border-bottom: #E6DEBA thin solid;
	border-left: #E6DEBA thin solid;
	border-right: #E6DEBA thin solid;
	border-top: #E6DEBA thin solid;
	padding-bottom: 5px;
	padding-top: 5px;
}

div.showhidesubitem
{
	background-color: #D7E7FF;
	border-bottom: #99CCFF thin solid;
	border-left: #99CCFF thin solid;
	border-right: #99CCFF thin solid;
	border-top: #99CCFF thin solid;
	padding-bottom: 5px;
	padding-top: 5px;
}

h1
{
	line-height: 26px;
	font-size: 20px;
	font-family: Arial;
}

li.mc-h1
{
	font: bold 20px;
	font-family: Arial;
}

h2
{
	font-size: 16px;
	font-family: Arial;
}

li.mc-h2
{
	font: bold 16px;
	font-family: Arial;
}

h3
{
	font-size: 14px;
	font-family: Arial;
}

li.mc-h3
{
	font: bold 14px;
	font-family: Arial;
}

h4
{
	font-size: 14px;
	font-family: Arial;
}

li.mc-h4
{
	font: bold medium;
	font-family: Arial;
}

h5
{
	font: bold small;
	font-family: Arial;
}

li.mc-h5
{
	font: bold small;
	font-family: Arial;
}

h6
{
	font: bold small;
	font-family: Arial;
}

li.mc-h6
{
	font: bold small;
	font-family: Arial;
}

li.popup-item2
{
	padding-bottom: 5px;
}

li.popup-item
{
	padding-bottom: 5px;
}

ol.popup-list
{
	margin-bottom: -10px;
	margin-left: 37px;
	margin-top: 2px;
	position: relative;
}

p
{
	font-family: Arial;
	margin: 14px 0;
}

div.ex p,
div.w p,
div.note p
{
	margin: 0;
}

li
{
	font-family: Arial;
	padding: 6px;
}

.note
{
	padding: 12px 18px 15px;
	background-color: #ebfef8;
	color: #265823;
	font-family: Arial;
	border: 1px solid #cff8dc;
}

.w
{
	padding: 12px 18px 15px;
	background-color: #ffe6e6;
	color: #762626;
	border: 1px solid #ffd5d5;
}

.ex
{
	padding: 12px 18px 15px;
	background-color: #f0f0f0;
	color: #555555;
	font-family: Arial;
	border: 1px solid #e2e2e2;
}

.nestednote
{
	padding: 7px 13px;
	margin: 10px 0;
	background-color: #ebfef8;
	color: #265823;
	font-family: Arial;
	border: 1px solid #c8f3d6;
}

.nestedw
{
	padding: 7px 13px;
	margin: 10px 0;
	background-color: #ffe6e6;
	color: #762626;
	border: 1px solid #fccfcf;
}

.nestedex
{
	padding: 7px 13px;
	margin: 10px 0;
	background-color: #f0f0f0;
	border: 1px solid #e0e0e0;
	color: #555555;
	font-family: Arial;
}

div.Code,
p.Code,
pre.Code
{
	padding: 12px 18px 15px;
	font-family: fixed-width, 'Courier New';
	background-color: #f0f0f0;
	color: #555555;
	border: 1px solid #e2e2e2;
}

span.Code
{
	font-family: fixed-width, 'Courier New';
	background-color: #f0f0f0;
	color: #555555;
}

p.option-text-section
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: bold;
}

li.option-text-section
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: bold;
}

p.popup-note
{
	border-style: outset none inset none;
	font-family: Arial;
}

li.popup-note
{
	border-style: outset none inset none;
	font-family: Arial;
}

ul.list-2
{
	list-style: disc outside;
}

ul.popup-list
{
	left: -3px;
	margin-bottom: -10px;
	position: relative;
	top: -12px;
}

table
{
	border: medium #ffffff;
	width: 100%;
}

td
{
	border: thin none;
	border-left: none;
	border-right: none;
	border-top: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
}

td.tableheading
{
	background-color: #DFDFDF;
	border: none;
	border-bottom: none;
	border-left: none;
	border-right: none;
	border-style: none;
	border-top: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	margin-bottom: 0%;
}

td.tabletext
{
	border: thin none;
	border-bottom: thin solid #E6E6E6;
	border-bottom-width: thin;
	border-left: none;
	border-right: none;
	border-top: none;
	border-width: thin;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
}

th
{
	background: #808080;
}

.expandsection
{
	background: no-repeat;
}

li.mc-Cexpandsection
{
	
}

.option-tabheading
{
	background-repeat: repeat-y;
	border-bottom: medium none;
	border-left: medium none;
	border-right: medium none;
	border-top: medium none;
	font-family: Tahoma;
	margin: 5px 0px;
	padding-bottom: 0px;
	padding-left: 7px;
	padding-right: 0px;
	padding-top: 0px;
}

li.mc-Coption-tabheading
{
	font-family: Tahoma;
}

p.Preformatted
{
	line-height: normal;
	margin-bottom: 14pt;
	margin-top: 14pt;
	white-space: nowrap;
	font-size: smaller;
	font-family: fixed-width;
}

li.Preformatted
{
	line-height: normal;
	margin-bottom: 14pt;
	margin-top: 14pt;
	white-space: nowrap;
	font-size: smaller;
	font-family: fixed-width;
}

li.Caption
{
	
}

a.expandspot
{
	cursor: hand;
	font-style: normal;
	color: #008000;
	text-decoration: none;
}

span.expandtext
{
	font-weight: normal;
	font-style: italic;
	color: #800000;
}

a.dropspot
{
	cursor: hand;
	color: #0000ff;
	x-on-hover: fontchange(Underline=on);
	letter-spacing: normal;
	font-weight: normal;
	font-style: normal;
	font-family: Tahoma, sans-serif;
	text-decoration: none;
}

a.glossterm
{
	cursor: hand;
	color: #800000;
	font-style: normal;
}

span.glosstext
{
	color: #0000ff;
	font-weight: normal;
	font-style: italic;
}

p.Body-Text
{
	
}

li.Body-Text
{
	
}

p.List-Bulleted
{
	list-style: disc;
}

li.List-Bulleted
{
	list-style: disc;
}

p.List-Numbered
{
	list-style: decimal;
}

li.List-Numbered
{
	list-style: decimal;
}

li.Picture
{
	border-right: #e6deba 4px solid;
	border-top: #e6deba 4px solid;
	padding-bottom: 30px;
	border-left: #e6deba 4px solid;
	padding-top: 30px;
	border-bottom: #e6deba 4px solid;
	background-color: #fcfcee;
	text-align: center;
}

span.footer
{
	font-family: DIN-Regular;
	font-size: 8pt;
}

div.footer
{
	padding-bottom: 12px;
	/*position: inherit !important; */
	
}

#mc-main-content {
  padding-bottom: 55px !important;    /* Footer height */
}

.footer p
{
	margin-bottom: .5em;
}

div.footer a
{
	border-right: 1px #555;
	border-right-style: solid;
	padding-right: 5px;
	padding-left: 5px;
	x-on-hover: fontchange(Underline=on);
	letter-spacing: normal;
	font-weight: normal;
	font-style: normal;
	font-family: Arial, sans-serif;
	text-decoration: none;
}

div#shoe
{
	border-top: #ccc thin solid;
	font-size: 8pt;
	font-family: Arial;
}

nav.footernav a:visited
{
	color: #00E;
}

nav.footernav a:hover
{
	text-decoration: underline;
}

.listleft a:hover
{
	text-decoration: underline;
}

ul.sublist li a:hover
{
	text-decoration: underline;
}

nav.footernav a:last-child
{
	border-right: none;
}

nav.footernav a:first-child
{
	padding-left: 0px;
}

MadCap|relatedTopics.relatedTopics_1
{
	text-decoration: underline;
	font-size: 8pt;
	font-family: Arial;
	mc-label: ' See Also';
}

MadCap|relatedTopics.relatedTopics_2
{
	text-decoration: underline;
	font-size: 8pt;
	font-family: Arial;
	mc-label: ' Tell Me More';
}

MadCap|expandingHead.expandspot
{
	cursor: hand;
	font-style: normal;
	color: #008000;
	text-decoration: none;
}

MadCap|dropDownHotspot.dropspot
{
	cursor: hand;
	color: #0000ff;
	x-on-hover: fontchange(Underline=on);
	letter-spacing: normal;
	font-weight: normal;
	font-style: normal;
	font-family: Tahoma, sans-serif;
	text-decoration: none;
}

MadCap|expandingBody.expandtext
{
	font-weight: normal;
	font-style: italic;
	color: #800000;
}

MadCap|glossaryTerm.glossterm
{
	cursor: hand;
	color: #800000;
	font-style: normal;
}

MadCap|expandingBody.glossterm
{
	color: #0000ff;
	font-weight: normal;
	font-style: italic;
}

.basic
{
	font: Verdana, sans-serif;
	font-size: .8em;
	margin: 0em;
	display: inline;
	color: white;
	background-color: #013658;
	padding: 4px;
	weight: bolder;
	text-transform: uppercase;
}

.standard
{
	font: Verdana, sans-serif;
	font-size: .8em;
	margin: 0em;
	display: inline;
	color: white;
	background-color: #2B4C3F;
	padding: 4px;
	weight: bolder;
	text-transform: uppercase;
}

h1.Appendix
{
	
}

.allcaps
{
	text-transform: uppercase;
}

td.footer
{
	
}

table.tablesorter
{
	border-spacing: 2px;
	border-collapse: collapse;
	width: 100%;
}

th.Header
{
	
}

table.text
{
	
}

ul
{
	list-style: disc;
}

p.HiddenTerms
{
	display: none;
}

table.tablesorter thead tr th,
table.tablesorter tfoot tr th
{
	text-align: left;
	vertical-align: middle;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 10px;
	background-color: #D4D4D4;
	font-weight: bold;
	border: 1px solid #999999;
}

table.tablesorter thead tr .header
{
	background-image: url(../Scripts/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}

table.tablesorter tbody td
{
	border: 1px solid #999999;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 5px;
	color: #3D3D3D;
	background-color: #FFF;
	vertical-align: top;
	border-bottom: 1px solid #999999;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999999;
}

table.tablesorter tbody tr.odd td
{
	background-color: #F6F5F5;
}

table.tablesorter thead tr .headerSortUp
{
	background-image: url(../Scripts/asc.gif);
}

table.tablesorter thead tr .headerSortDown
{
	background-image: url(../Scripts/desc.gif);
}

table.tablesorter thead tr .headerSortDown,
table.tablesorter thead tr .headerSortUp
{
	background-color: #cce0f0;
}

div.sidebar
{
	background-color: #f0f0f0;
	color: #f7f7f7;
	display: block;
	float: right;
	font-family: Arial;
	font-size: 14px;
	font-style: normal;
	line-height: 19px;
	margin-bottom: 15px;
	margin-left: 15px;
	margin-right: 0px;
	margin-top: 0px;
	padding: 12px 0 0 0;
	width: 190px;
	outline: 10px solid white;
	border: 1px solid #e0e0e0;
}

.sidebarheading
{
	margin-left: 15px;
	color: #0C4380;
	display: inline;
	font-family: Arial;
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
	height: auto;
	line-height: 24px;
	width: auto;
}

div.sidebartoc
{
	color: #f7f7f7;
	display: block;
	font-family: Arial;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	line-height: 19px;
	padding-bottom: 19px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 7px;
	width: 190px;
}

a.navlinks
{
	cursor: pointer;
	color: #555;
	letter-spacing: normal;
	font-weight: normal;
	font-style: normal;
	font-family: Arial, sans-serif;
	text-decoration: none;
}

a.navlinks:hover
{
	text-decoration: underline;
}

div.sidebartoc li,
div.sidebartoc ul
{
	padding-right: 0px;
	margin-top: 0px;
	padding-left: 0px;
	margin-left: 0px;
	list-style: none;
	margin-bottom: 0px;
}

div.listleft
{
	float: left;
	width: 50%;
	vertical-align: top;
	line-height: 14px;
}

.listleft ul,
.listleft li,
.listleft a
{
	list-style: none;
	text-decoration: none;
}

.heading
{
	font-size: 16px;
	font-weight: bold;
}

.cat
{
	margin-bottom: 10px;
	margin-top: 10px;
	display: inline-block;
	padding: 12px 18px 15px;
	background-color: #f0f0f0;
	color: #555555;
	border: 1px solid #e2e2e2;
	width: 95%;
}

.firstpagecat
{
	display: inline-block;
	padding: 12px 18px 15px;
	background-color: #f0f0f0;
	color: #555555;
	border: 1px solid #e2e2e2;
	width: 95%;
	margin-bottom: 10px;
}

a.navigation
{
	border-right: 1px #555;
	border-right-style: solid;
	padding-right: 5px;
	padding-left: 5px;
	x-on-hover: fontchange(Underline=on);
	letter-spacing: normal;
	font-weight: normal;
	font-style: normal;
	font-family: Arial, sans-serif;
	text-decoration: none;
}

a.navigation:hover
{
	text-decoration: underline;
}

nav.destination a:last-child
{
	border-right: none;
}

nav.destination a:first-child
{
	padding-left: 0px;
}

div.roadmaptoc
{
	color: #f7f7f7;
	display: block;
	font-family: Arial;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	line-height: 19px;
	padding-bottom: 19px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 7px;
	width: 190px;
}

div.roadmaptoc li,
div.roadmaptoc ul
{
	padding-right: 0px;
	margin-top: 0px;
	padding-left: 0px;
	margin-left: 0px;
	list-style: none;
	margin-bottom: 0px;
}

div.roadmapbar
{
	background-color: #f0f0f0;
	color: #f7f7f7;
	display: block;
	float: right;
	font-family: Arial;
	font-size: 14px;
	font-style: normal;
	line-height: 19px;
	margin-bottom: 15px;
	margin-left: 15px;
	margin-right: 0px;
	margin-top: 0px;
	padding: 12px 0 0 0;
	width: 190px;
	outline: 10px solid white;
	border: 1px solid #e0e0e0;
}

.roadmapheading
{
	display: block;
	padding-left: 15px;
	color: #0C4380;
	font-family: Arial;
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
	height: auto;
	line-height: 24px;
	width: auto;
	text-decoration: none;
}

.roadmapheading:hover
{
	text-decoration: underline;
}

.sidebartoc ul li a
{
	padding: 5px 15px;
	display: block;
	line-height: 19px;
}

#steps > li > a
{
	padding: 5px 15px;
	display: block;
}

#steps li a:hover,
#steps li a.selected
{
	background: #dfdfdf;
}

#steps li a.selected:hover
{
	text-decoration: none;
	cursor: default;
}

.topiclink
{
	line-height: 12px;
	padding: 0px 20px;
	display: block;
}

.totop
{
	float: right;
	font-size: 11px;
	font-weight: bold;
	text-align: right;
	text-decoration: none;
	color: #00E;
}

.totop:hover
{
	text-decoration: underline;
	cursor: pointer;
}

#parentlist ul,
#parentlist li
{
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
}

ul.sublist li a
{
	text-decoration: none;
}

a.title
{
	font-weight: bold;
	font-size: 16px;
}

.ui-tabs
{
	position: relative;
	/* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
	padding: .2em;
}

.ui-tabs .ui-tabs-nav
{
	margin: 0;
	padding: .2em .2em 0;
}

.ui-tabs .ui-tabs-nav li
{
	list-style: none;
	float: left;
	position: relative;
	top: 0;
	margin: 1px .2em 0 0;
	border-bottom-width: 0;
	padding: 0;
	white-space: nowrap;
}

.ui-tabs .ui-tabs-nav li a
{
	float: left;
	padding: .5em 1em;
	text-decoration: none;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active
{
	margin-bottom: -1px;
	padding-bottom: 1px;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active a,
.ui-tabs .ui-tabs-nav li.ui-state-disabled a,
.ui-tabs .ui-tabs-nav li.ui-tabs-loading a
{
	cursor: text;
}

.ui-tabs .ui-tabs-nav li a,
.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active a	/* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
{
	cursor: pointer;
}

.ui-tabs .ui-tabs-panel
{
	display: block;
	border-width: 0;
	padding: 1em 1.4em;
	background: none;
}

.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl
{
	border-top-left-radius: 0x;
}

.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr
{
	border-top-right-radius: 0px;
}

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl
{
	border-bottom-left-radius: 0px;
}

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br
{
	border-bottom-right-radius: 0px;
}

.ui-widget-content
{
	border: 1px solid #aaaaaa;
	color: #222222;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default
{
	border: 1px solid #aaaaaa;
	background: #ffffff;
	color: #555555;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active
{
	border: 1px solid #aaaaaa;
	background: #ffffff;
	font-weight: normal;
	color: #212121;
}

.ui-helper-reset
{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	line-height: 1.3;
	text-decoration: none;
	font-size: 100%;
	list-style: none;
}

.ui-helper-clearfix:before,
.ui-helper-clearfix:after
{
	content: "";
	display: table;
	border-collapse: collapse;
}

.ui-helper-clearfix:after
{
	clear: both;
}

.ui-helper-clearfix
{
	min-height: 0;
	/* support: IE7 */
}

.ui-widget-header
{
	border-bottom: 1px solid #aaaaaa;
	background: #ffffff;
	color: #222222;
}

@media print
{
	p.IndexHeading
	{
		font-family: DIN-Regular;
		font-size: 16pt;
		text-align: left;
	}

	p.Index1
	{
		font-size: 9pt;
		margin: 0pt;
	}

	p.Index2,
	p.Index3
	{
		font-size: 9pt;
		margin-bottom: 0em;
		margin-top: 0em;
	}

	p.TOC1
	{
		font-weight: normal;
	}

	p.TOC2,
	p.TOC3,
	p.TOC4
	{
		margin-bottom: 0em;
		margin-top: 0em;
	}

	p.TOC6
	{
		display: none;
	}

	a.popup-heading,
	a.showhide
	{
		margin: 14px 0;
		font-family: DIN-Regular, DIN-Medium;
		font-size: 12pt;
		display: inline;
		text-indent: 0px;
		font: Melior;
		color: #555555;
	}

	a.dropspot
	{
		cursor: hand;
		color: #0000ff;
		x-on-hover: fontchange(Underline=on);
		letter-spacing: normal;
		font-weight: normal;
		font-style: normal;
		font-family: Tahoma, sans-serif;
		text-decoration: none;
	}

	a.expandspot
	{
		margin: 14px 0;
		font-family: DIN-Regular, DIN-Medium;
		font-size: 12pt;
		display: inline;
		text-indent: 0px;
		font: Melior;
		color: #000000;
	}

	h1,
	h2,
	h3,
	h4,
	h5
	{
		font-family: DIN-Regular, DIN-Medium, DIN-Bold;
		color: #000000;
	}

	h1,
	h2,
	h3
	{
		page-break-before: auto;
		orphans: 2;
	}

	h1
	{
		font-size: 40px;
		font: DIN-Bold;
		font-weight: normal;
		mc-auto-number-position: none;
	}

	h1.title
	{
		line-height: 30pt;
		mc-heading-level: 0;
	}

	h1.toc
	{
		font-family: DIN-BoldAlternate;
		font-size: 14pt;
		page-break-before: always;
		mc-heading-level: 0;
	}

	h1.backmatter
	{
		mc-heading-level: 0;
	}

	h2
	{
		font-size: 18.67px;
		font: DIN-Bold;
		font-weight: normal;
	}

	h3
	{
		font-size: 17.33px;
		font: DIN-Regular;
		font-weight: bold;
	}

	h4
	{
		font-size: 17.33px;
		font: Melior;
		font-weight: bold;
		page-break-before: auto;
	}

	h5
	{
		font: DIN-Bold;
		font-size: 18.67px;
		font-weight: normal;
	}

	h6
	{
		font: bold small;
		font-family: Arial;
	}

	p
	{
		margin: 14px 0;
		font-family: DIN-Regular, DIN-Medium;
		font-size: 12pt;
		/*display: inline;*/
		text-indent: 0px;
		font: Melior;
		color: #000000;
		padding-left: 0px;
		orphans: 2;
		page-break-before: auto;
	}

	p.Body-Text
	{
		/*display: inline;*/
		text-align: left;
		list-style-position: inherit;
	}

	p.List-Bulleted
	{
		list-style: disc;
		/*display: inline;*/
	}

	p.whitepaper
	{
		font-size: 20pt;
		font-style: italic;
	}

	p.backmatter
	{
		font-family: DIN-Regular;
		font-size: 10pt;
	}

	li,
	li.Body-Text
	{
		font-family: DIN-Regular, DIN-Medium;
		font-size: 12pt;
		font: Melior;
		color: #000000;
	}

	li.List-Bulleted
	{
		list-style: disc;
	}

	li.List-Numbered
	{
		list-style: decimal;
	}

	img.logo
	{
		position: absolute;
		float: right;
		page-break-after: auto;
	}

	img.largePrint
	{
		width: 550px;
		height: auto;
	}

	img.right
	{
		float: right;
		clear: both;
	}

	img.left
	{
		float: left;
		clear: both;
	}

	img
	{
		border: none;
	}

	div.figureRight
	{
		background-color: #eeeeee;
		margin: 10px;
		border: solid 1px #cccccc;
		padding: 10px;
	}

	div.figureRight p.figurecount
	{
		font-size: 10pt;
		mc-auto-number-format: '{b}figure {n+} - {/b}';
	}

	span.expandtext
	{
		font-weight: normal;
		font-style: italic;
		color: #800000;
	}

	ul
	{
		list-style: disc;
		font: Melior;
		color: #000000;
		font-size: 12pt;
	}

	ol
	{
		font: Arial;
		font-family: sans-serif;
		font-size: 10pt;
	}

	MadCap|conditionalText
	{
		font: Arial;
		font-family: sans-serif;
		font-size: 26pt;
	}

	MadCap|xref
	{
		mc-format: '{paratext}';
	}

	MadCap|xref.New
	{
		mc-format: '{filename}';
	}

	MadCap|pageFooter.EvenPage
	{
		font-weight: bold;
	}

	a.popup-heading:hover,
	a.popup-heading:active,
	a.showhide:link,
	a.showhide:hover,
	a.showhide:active,
	b,
	a.Popup:link,
	MadCap|toggler,
	MadCap|snippetText,
	table.text,
	p.List-Numbered
	{
		color: #000000;
		font: Melior;
		font-size: 12pt;
	}

	.note,
	.w,
	.ex
	{
		padding: 5px 18px 5px;
		font: Melior;
		color: #000000;
		border-bottom-color: #000000;
		border: solid 0.5pt #000000;
		border-left: none;
		border-right: none;
		border-top: solid 0.5pt #000000;
		background-color: #ffffff;
		left: 5px;
		display: block;
	}

	MadCap|breadcrumbsProxy
	{
		color: #666666;
		margin-bottom: 25px;
		border-bottom-color: #ccc;
	}

	.MCBreadcrumbsLink
	{
		color: #888;
	}

	.MCBreadcrumbsLink:hover
	{
		color: #555;
	}

	MadCap|relationshipsItem
	{
		color: #000000;
		font: Melior;
		font-family: DIN-Regular, DIN-Medium, DIN-Bold;
	}

	b
	{
		font-weight: bold;
	}

	img
	{
		display: block;
	}

	tbody,
	table,
	td,
	td.tabletext,
	td.tableheading
	{
		font: Melior;
		font-size: 12pt;
		border: 1px solid #000000;
	}

	tbody
	{
		color: #000000;
	}

	table
	{
		width: 100%;
	}

	td.tableheading
	{
		background-color: #DFDFDF;
		margin-bottom: 0%;
		color: #000000;
		font-weight: bold;
	}

	td.footer
	{
		font-size: 8pt;
		font-weight: bold;
		font: din-regular;
		font-family: DIN-Regular;
		border-top-style: solid;
		padding-top: 1pt;
		border-top-width: 2pt;
	}

	th
	{
		background: #808080;
	}
}

@media (max-width: 1200px)
{
	body,
	div#myfooter
	{
		width: 100%;
	}
}

@media (min-width: 1201px)
{
	body,
	div#myfooter
	{
		width: 1000px;
	}
}

h3.subheader
{
	font-weight: normal;
	line-height: 1.4;
	color: #6F6F6F;
}

/** foundation stuff **/

.categoryRow
{
	width: 100%;
}

.categoryRow div
{
	display: inline-block;
	padding: 10px 10px 0px 0px;
	width: 250px;
	vertical-align: top;
}

.categoryRow h2
{
	font-size: 24px;
}

.categoryRow .col2
{
	width: 150px;
}

.categoryRow .col4
{
	width: 300px;
}

.categoryRow .col6
{
	width: 450px;
}

*,
*:before,
*:after
{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.ie7 .row,
.ie7 .row .row,
.ie7 .row .row.collapse
{
	zoom: 1;
}

.row
{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
}

.row:first-of-type
{
	
}

.row:before,
.row:after
{
	content: " ";
	display: table;
}

.row:after
{
	clear: both;
}

.row.collapse > .column,
.row.collapse > .columns
{
	position: relative;
	padding-left: 0;
	padding-right: 0;
	float: left;
}

.row.collapse .row
{
	margin-left: 0;
	margin-right: 0;
}

.row .row
{
	width: auto;
	margin-left: 0em;
	margin-right: 0em;
	margin-top: 0;
	margin-bottom: 0;
	max-width: none;
}

.row .row:before,
.row .row:after
{
	content: " ";
	display: table;
}

.row .row:after
{
	clear: both;
}

.row .row.collapse
{
	width: auto;
	margin: 0;
	max-width: none;
}

.row .row.collapse:before,
.row .row.collapse:after
{
	content: " ";
	display: table;
}

.row .row.collapse:after
{
	clear: both;
}

.column,
.columns
{
	position: relative;
	padding-left: 0em;
	padding-right: 0em;
	width: 100%;
	float: left;
	min-height: 175px;
}

.columns.noMinHeight
{
	min-height: 0px;
}

/**lf added**/

.row .noDesc
{
	min-height: 150px;
}

/**end LF added**/

@media only screen
{
	.column,
	.columns
	{
		position: relative;
		padding-left: 0em;
		padding-right: 0em;
		float: left;
	}

	.small-1
	{
		position: relative;
		width: 8.33333%;
	}

	.small-2
	{
		position: relative;
		width: 16.66667%;
	}

	.small-3
	{
		position: relative;
		width: 25%;
	}

	.small-4
	{
		position: relative;
		width: 33.33333%;
	}

	.small-5
	{
		position: relative;
		width: 41.66667%;
	}

	.small-6
	{
		position: relative;
		width: 50%;
	}

	.small-7
	{
		position: relative;
		width: 58.33333%;
	}

	.small-8
	{
		position: relative;
		width: 66.66667%;
	}

	.small-9
	{
		position: relative;
		width: 75%;
	}

	.small-10
	{
		position: relative;
		width: 83.33333%;
	}

	.small-11
	{
		position: relative;
		width: 91.66667%;
	}

	.small-12
	{
		position: relative;
		width: 100%;
	}

	[class*="column"] + :last-child[class*="column"]
	{
		float: right;
	}

	[class*="column"] + .end[class*="column"]
	{
		float: left;
	}
}

@media only screen and (min-width: 40.063em)
{
	.column,
	.columns
	{
		position: relative;
		padding-left: 0em;
		padding-right: 0em;
		float: left;
	}

	.medium-1
	{
		position: relative;
		width: 8.33333%;
	}

	.medium-2
	{
		position: relative;
		width: 16.66667%;
	}

	.medium-3
	{
		position: relative;
		width: 25%;
	}

	.medium-4
	{
		position: relative;
		width: 33.33333%;
	}

	.medium-5
	{
		position: relative;
		width: 41.66667%;
	}

	.medium-6
	{
		position: relative;
		width: 50%;
	}

	.medium-7
	{
		position: relative;
		width: 58.33333%;
	}

	.medium-8
	{
		position: relative;
		width: 66.66667%;
	}

	.medium-9
	{
		position: relative;
		width: 75%;
	}

	.medium-10
	{
		position: relative;
		width: 83.33333%;
	}

	.medium-11
	{
		position: relative;
		width: 91.66667%;
	}

	.medium-12
	{
		position: relative;
		width: 100%;
	}

	[class*="column"] + :last-child[class*="column"]
	{
		float: right;
	}

	[class*="column"] + .end[class*="column"]
	{
		float: left;
	}
}

@media only screen and (min-width: 64.063em)
{
	.column,
	.columns
	{
		position: relative;
		padding-left: 0em;
		padding-right: 0em;
		float: left;
	}

	.large-1
	{
		position: relative;
		width: 8.33333%;
	}

	.large-2
	{
		position: relative;
		width: 16.66667%;
	}

	.large-3
	{
		position: relative;
		width: 25%;
	}

	.large-4
	{
		position: relative;
		width: 33.33333%;
	}

	.large-5
	{
		position: relative;
		width: 41.66667%;
	}

	.large-6
	{
		position: relative;
		width: 50%;
	}

	.large-7
	{
		position: relative;
		width: 58.33333%;
	}

	.large-8
	{
		position: relative;
		width: 66.66667%;
	}

	.large-9
	{
		position: relative;
		width: 75%;
	}

	.large-10
	{
		position: relative;
		width: 83.33333%;
	}

	.large-11
	{
		position: relative;
		width: 91.66667%;
	}

	.large-12
	{
		position: relative;
		width: 100%;
	}

	[class*="column"] + :last-child[class*="column"]
	{
		float: right;
	}

	[class*="column"] + .end[class*="column"]
	{
		float: left;
	}
}

.row .columns h2,
.pathfindHeader
{
	font-size: 18px;
	line-height: 1.5em;
	font-weight: bold;
	color: #005ABC;
	margin-bottom: 10px;
}

.columns
{
	padding-left: 2em;
	padding-right: 2em;
}

.row a,
.row h2 a
{
	color: #555555;
	text-decoration: none;
}

.columns:hover
{
	background-color: #D9E8F5;
}

.columns.emptyColumn:hover
{
	background-color: white;
}

a.MiniTOC1:link,
a.MiniTOC1:visited,
a.MiniTOC1:hover
{
	color: #0000FF;
	line-height: 17px;
	font-size: 10pt;
	font-weight: normal;
	text-decoration: underline;
}

p.MiniTOC1_0
{
	margin: 0px !important;
	padding-bottom: 6px;
}

div.MCMiniTocBox_0
{
	border-top: none;
	padding-left: 0px;
	padding-top: 0px;
}

.columns ul
{
	list-style: none;
	padding-left: 0px;
	list-style-position: outside;
	line-height: 17px;
}

.columns ul li
{
	padding: 0px 0px 6px 0px;
}

.columns li a:hover,
p.MiniTOC1_0:hover
{
	color: #0078FC;
	text-decoration: underline;
}

.columns.columnList
{
	padding-left: 0em;
}

.colums p,
.columns ul
{
	margin-top: 0px;
}

table.TableHeading
{
	border-spacing: 2px;
	border-collapse: collapse;
	width: 100%;
}

.translate-button
{
	float: right;
}