/*<meta />*/

p.MyStyle
{
	font-family: Arial;
	font-size: 12pt;
	margin: 0px;
}

img
{
	border: none;
}

a.Popup
{
	
}

p
{
	font-family: 'Open Sans', sans-serif;
}

h1
{
	font-family: 'Open Sans', sans-serif;
}

h2
{
	font-family: 'Open Sans', sans-serif;
}

h3
{
	font-family: 'Open Sans', sans-serif;
}

li
{
	font-family: 'Open Sans', sans-serif;
}